.html-embed {
  position: absolute;
  width: 100%;
  height: 100%;
}

.test {
  position: relative;
  display: block;
  width: 10%;
  height: 50px;
  margin-bottom: 1000px;
  background-color: red;
}
.card {
  position: absolute;
  width: 25%;
  height: 70%;
  margin-top: 120px;
  margin-left: -170%;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card p {
 line-height: 1.5;
  padding-left: 40px;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: hsla(0, 0%, 100%, 0);
}

.pre-loader {
  position: relative;
  width: 0%;
  height: 50px;
  margin-bottom: 75px;
  background-color: red;
}

.arrow {
  cursor: pointer;
  height: 60px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 50px;
}

.arrow-top, .arrow-bottom {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow-top:after, .arrow-bottom:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.arrow:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}

#rarrow{
 top:90px;
 left:55%;
}
#larrow{
 top:65px;
 left:5%;
 transform: scaleX(-1);
}


